html, body{
    min-height: 100%;
}
.nav{
    justify-content: center;
}
#dataContainer{
    display: flex;
    justify-content: space-evenly;
    /* margin: 0 20px 50px; */
}
#var{
    border: black solid 1px;
}
#container{
    display: flex;
    justify-content: space-evenly;
    border: black solid 1px;
}
#tableDiv{
    width: 95%;
    margin: auto;

    
}
#modalbtn{
    margin:  10px 10px;
}


/* table, td {
    text-align: center;
    border: 1px solid black;
} */